body, html {
    height: 100%; /* 전체 높이 설정 */
    margin: 0;
    padding: 0;
}

.product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬 추가 */
    margin-top: 30px;
    height: calc(100vh - 400px); /* 네비게이션 바와 푸터를 제외한 높이 */
}

.product-image, .product-info {
    width: 400px; /* 고정 너비 */
    height: 400px; /* 고정 높이 */
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center;
    justify-content: center; /* 세로 중앙 정렬 추가 */
    box-sizing: border-box; /* 패딩 포함 크기 조정 */
}

.product-image{
    margin-right: 50px;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율 유지하면서 박스에 맞춤 */
}

.product-info {
    border: 2px solid #000;
    padding: 50px;
    border-radius: 5%;
    text-align: center;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #d57eac;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-details {
    font-size: 14px;
    margin-top: 10px; /* 이미지 아래에 위치하도록 상단 여백 */
    text-align: center;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center; /* 중앙 정렬 */
}

.quantity-container input[type="number"] {
    width: 50px; /* 가로 길이 조정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.quantity-container input[type="number"]::-webkit-outer-spin-button,
.quantity-container input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* WebKit 브라우저에서 화살표 버튼 제거 */
    margin: 0;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn2 {
    background-color: #ffd0e9;
    color: #000;
    border: 1.5px solid #000;
    padding: 2px 5px;
    width: 25px;
    font-weight: bold;  
}

.btn2:hover, .btn3:hover {
    background-color: #d57eac;
    font-weight: 600;
}

.btn3 {
    background-color: #ffd0e9;
    color: #000;
    border: 1.5px solid #000;
    padding: 5px;
    font-size: 20px;
    font-family: 'Orbit', cursive;
    border-radius: 10%; 
    font-weight: bold;  
}